.title {
  margin-top: 50px;
  /* // margin-bottom: 30px;
  // font-size: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  margin-bottom: 20px;
  font-size: 30px;
  color: rgb(118, 117, 117);
}

.btn {
  margin-top: 10px;
  /* // margin-bottom: 15px; */
  font-size: 25px;
  color: rgb(84, 84, 84);
}

.description {
  /* // font-size: 20px; */
  margin-top: 5px;
  margin-bottom: 10px;
  color: rgb(162, 161, 161);
}

.grid-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* // border: 10px solid rgb(221, 221, 221); */
  padding: 10px;
  margin: 10px;
  max-width: 300px;
  max-height: 380px;
  border-radius: 8px;
  cursor: pointer;
  outline: 3px solid rgb(221, 221, 221);
  /* // box-shadow: 1px 2px 0 3px rgb(221, 221, 221); */
  box-shadow: 5px 5px 0px 3px rgb(221, 221, 221);
  margin: 18px;
}

.section::after {
  content: "";
  position: absolute;
  /* // background-color: red; */
  border-radius: 18px;
  width: 350px;
  height: 200px;
  left: 0px;
  top: 0px;
  z-index: -1;
}

/* // .section:hover {
//   background-color: black;
// } */

.img-container {
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board2 {
  margin-top: 15px;
  font-size: 15px;
  color: rgb(118, 117, 117);
}

.test {
  font-size: 32px;
  color: #6d98ba;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
